button:focus svg,
a:focus svg {
    filter: brightness(0.8);
}

.aside h2::after {
    display: block;
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: .1rem;
    margin-block-start: .5rem;
    background-color: var(--bg-primary);
}

.categories {
    scrollbar-width: none;
}

body.dark {
    --bg-primary: #212529;
    --bg-secondary: #343A40;
    --accent: #FFF;
  }
  
  body.light {
    --bg-primary: #EDEDE9;
    --bg-secondary: #FFF;
    --accent: #7F5539;
  }

  .theme-toggle-icon {
    transition: opacity 200ms ease-in-out;
  }

  .theme-toggle-icon.hide {
    opacity: 0;
  }