@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #FFF;
  --bg-secondary: #FFF;
  --accent: #FFF;
}

body {
  background-color: var(--bg-primary);
  color: var(--accent);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

svg,
path {
  fill: var(--accent);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}